@model List<Contact>
    
   @if (Model.Count<=0)
   {
       <p> No Data </p>
   }
    <table class="table table-hover">
          
          <thead style=" background-color:green">
              <tr>
               <th>
                   Name
               </th>
               <th>
                   Email
                   
               </th>
               <th>
                   Subject
               </th>
               <th>
                   Message
               </th>
           </tr>
           </thead>

    @foreach (var item in Model)
    {
       
           <tbody>
               <tr>
                   <td>@item.Name</td>
                   <td>@item.Email</td>
                   <td>@item.Subject</td>
                   <td>@item.Message</td>
               </tr>
           </tbody>
      
       
       
       
    }
   