<div class="container pb-artist-wrap">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <div class="card card-warning">
                <div class="card-header">
                    <h3><strong>A</strong>lan Walker™</h3>
                    <small>Musician</small>
                </div>
                <div class="card-block" style="padding: 0;">
                    <div>
                        <img src="http://www.billboard.com/files/media/alan-walker-press-cr-Rikkard-Haggbom-2016-billboard-1548.jpg" class="img-fluid">
                    </div>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Top 10 songs</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><strong>Faded</strong></td>
                                <td><a href="#">4:31</a></td>
                            </tr>
                            <tr>
                                <td><strong>Sign me to sleep</strong></td>
                                <td><a href="#">1:51</a></td>
                            </tr>
                            <tr>
                                <td><strong>Alone</strong></td>
                                <td><a href="#">2:37</a></td>
                            </tr>
                            <tr>
                                <td><strong>Lorem Ipsum</strong></td>
                                <td><a href="#">4:11</a></td>
                            </tr>
                            <tr>
                                <td><strong>Ipsum Lorem</strong></td>
                                <td><a href="#">3:29</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="card-footer">
                    <button class="btn btn-warning pb-artist-albums">Popular Albums</button>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .pb-artist-wrap {
        padding-top: 30px;
    }

    .pb-artist-albums {
        display: block;
        margin: 0 auto;
    }
</style>
